# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/

# PyInstaller
build/
dist/

# IDEs
.vscode/
.idea/

# OS files
Thumbs.db
.DS_Store

# Runtime-generated user data
config/config.json
config/calibration.json

# Logs
*.log